<h1> It's a fire sale! </h1>
<%= for alert <- @alerts do %>
  <p>
    <%= link alert[:symbol], to: "https://www.google.com/finance?q=#{alert[:exchange]}:#{alert[:symbol]}", target: "_blank" %> <br>
    Alert price:&nbsp;&nbsp;&nbsp;<%= "$#{alert[:alert_price]}" %> <br>
    Current price:&nbsp;<%= "$#{alert[:price]}" %> <br>
    Close price:&nbsp;&nbsp;&nbsp;<%= "$#{alert[:close_price]}" %> <br>
    Price change:&nbsp;&nbsp;<%= "#{alert[:change_price]}%" %> <br>
  </p>
<%= end %>
