It's a fire sale!

Symbol\tPrice\tClose\tChange
<%= for alert <- @alerts do %>
<%= "#{alert[:symbol]}" %>\t<%= "$#{alert[:price]}" %>\t<%= "$#{alert[:close_price]}" %>\t<%= "#{alert[:change_price]}%" %>
<%= end %>

<%= for alert <- @alerts do %>
  https://www.google.com/finance?q=<%= "#{alert[:exchange]}" %>:<%= "#{alert[:symbol]}" %>
<%= end %>
