use Mix.Config

if Mix.env == :production do
  args = [
    adapter: Ecto.Adapters.Postgres,
    username: "postgres",
    password: "postgres",
    database: "fire_sale_production",
    pool: Ecto.Adapters.SQL.Sandbox
  ]
else
  args = [
    adapter: Ecto.Adapters.Postgres,
    username: "",
    password: "",
    database: "fire_sale_#{Mix.env}",
    pool_size: 10
  ]
end

config :fire_sale, FireSale.Repo, args
