use Mix.Config

System.put_env "TRADEKING_CONSUMER_KEY", ""
System.put_env "TRADEKING_CONSUMER_SECRET", ""
System.put_env "TRADEKING_TOKEN_KEY", ""
System.put_env "TRADEKING_TOKEN_SECRET", ""
System.put_env "SENDGRID_API_KEY", ""
